@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}


:root {
  /* --background: #ffffff; */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #D4D5D9 transparent;
}

:root.dark * {
  scrollbar-width: thin;
  scrollbar-color: #30363d transparent !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D4D5D9;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #30363d;
}
